<app-todo-creation (createTodoItem)="createTodoItem($event)"></app-todo-creation>
<app-todo-counter [newTasks]="newTasks$ | async" [completedTasks]="completedTasks$ | async"></app-todo-counter>
<div class="container-todo">
    <app-todo-filters (filterTasks)="filterTasks($event)"></app-todo-filters>
    <div class="subcontainer-cards">
      <ng-container *ngFor="let todoItem of todoList$ | async">
        <app-todo-list
          [todoItem]="todoItem"
        ></app-todo-list>
      </ng-container>
    </div>
</div>
